<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/d3/3.5.17/d3.min.js"></script>
    {load href="__STATIC__/js/jquery-2.2.1.js" /}
    {load href="__STATIC__/js/tree.js" /}
    <script src="https://cdn.bootcss.com/blueimp-md5/2.11.1/js/md5.js"></script>
</head>
<body>
<div>
    <input type="button" id="submit" value="提交"/>
</div>
<div id="dynamicTree"></div>
<script type="text/javascript">
$(function(){
    $('#submit').click(function(){
        var timestamp = timest();
        var secret = md5('ZNHSTS3017105997'+timestamp);
        $.ajax({
            url   :   '{:url("secret")}',
            method: 'POST',
            data    :   {id:'ZNHSTS3017105997',secret:secret},
            success:function(){
                // alert('OK');
            }
        })
    })
    function timest() {
        var tmp = Date.parse( new Date() ).toString();
        tmp = tmp.substr(0,10);
        return tmp;
    }
});
</script>
</body>
</html>